<div id="static-component-button-wrapper" class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default">btn-default</button>
      <button class="btn btn-primary">btn-default</button>
      <button class="btn btn-success">btn-default</button>
      <button class="btn btn-warning">btn-default</button>
      <button class="btn btn-danger">btn-default</button>
    </div>
  </div>
</div>
